@import url('https://fonts.cdnfonts.com/css/circe');
@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
}

body {
    padding: 63px 0 30px 0;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 80px;
    font-weight: 400;
}

.logo a {
    color: black;
}

.blue {
    color: #4BCAFF;
}

.navbar {
    margin-top: 40px
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    color: white;
    width: 1280px;
    font-size: 24px;
    margin: 0 auto;


}

.navbar-list a {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    color: white;
    display: inline-block;
    padding: 24px 32px 18px 32px;
}

.navbar-list-item a:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.flex-section {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    width: 344px;
    color: #485863;
    font-size: 27px;
    font-weight: 27px;
}

.aside-list a {
    color: #485863;
    display: block;
    padding: 26px 0 30px 44px;
}

.aside-list a:hover {
    padding-left: 60px;
    background-color: #DBDBDB;
    transition: 0.5s;

}

.ramda-info {
    margin-left: 48px;
}

.ramda-info p {
    margin-top: 37px;
    line-height: 24px;
}

.ramda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid black;
}

.ramda img {
    width: 320px;
    height: 381px;
}

.ramda img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.footer {
    width: 1280px;
    height: 69px;
    background-color: #63696E7A;
    margin-top: 54px;
    display: flex;
    align-content: center;
}

.footer-list {
    font-size: 28px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 875px;
}

.footer p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 135px;
    font-size: 24px;
    font-weight: 400;
}

.footer-list {
    margin-left: 40px;
}

.footer-list a {
    color: black;
}

.footer-list-item a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
    transition: 0.5s;
}